/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
   /* flex-direction: column;
    min-height: 100vh;
    display: flex;
    height: 100%;*/
}

/* HEADER */
.header {
    background-color: #FBB118;
    color: #000000;
    padding: 5px 20px;
}

/* CONTENEDOR PRINCIPAL */
.header-top {
    display: flex;
    justify-content: space-between;
    /* separa izquierda y derecha */
    align-items: center;
}

/* IZQUIERDA */
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    aspect-ratio: 22/9;
    height: 100px;
}

.title {
    margin: 0;
}

/* DERECHA (carrito + login) */
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ICONOS */
.icon {
    width: 30px;
    height: 30px;
}

/* BOTONES ICONO */
.icon-btn {
    color: #000000;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

/* HOVER */
.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

/* NAV */
.nav {
    margin-top: 10px;
}

.nav a {
    color: #000000;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* MAIN */
.main-content {
    padding: 20px;
}

/* FOOTER */
.footer {
    background-color: #FBB118;
    color: #000000;
    text-align: center;
    padding: 1px;
    margin-top: 72vh;
}

/* MENÚ CATEGORIA */
.main-content {
    flex: 1; 
}
.category-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.category-item a:hover {
    background-color: #FBB118;
    color: #000;
}

.category-nav {
    background-color: #fff7c9;
    padding: 10px;
    border-bottom:0.5px solid #FBB118;
}

.category-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
   /* margin: 0;
    padding: 0;*
    flex-wrap: wrap; */
}


    
